@*
Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License").
You may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*@
@model IEnumerable<SaaSBoostHelloWorld.Models.Product>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Products</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        tr.clickable-row {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container pt-3">
        <div class="row">
            <div class="col-10">
                <h2>Products</h2>
            </div>
            <div class="col-2 align-self-center">
                <a role="button" class="btn btn-success float-right" href="product/create">Add Product</a>
            </div>
        </div>
        @if (!(String.IsNullOrEmpty(ViewData["msg"] as String)))
        {
            <div class="row">
                <div class="col-12">
                    <div class="alert alert-@(ViewData["css"])" alert-dismissible fade show" role="alert">
                        <strong>@ViewData["msg"]</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th style="width: 10%" scope="col">ID</th>
                        <th style="width: 10%" scope="col">SKU</th>
                        <th style="width: 40%" scope="col">Name</th>
                        <th style="width: 10%" scope="col">Price</th>
                        <th style="width: 30%" scope="col"></th>
                    </tr>
                </thead>
                @foreach (var product in Model)
                {
                    <tr class="clickable-row" data-href="product/detail/@product.Id">
                        <th scope="row">@product.Id</th>
                        <td>@product.Sku</td>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td><div class="float-right"><a role="button" class="btn btn-info" href="product/edit/@product.Id">Edit</a> <a role="button" class="btn btn-danger" href="product/delete/@product.Id">Delete</a></div></td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location.assign($(this).data("href"));
            });
        });
    </script>
</body>
</html>
